<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>MyFirstJSP</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Servlet Mapping -->

	<servlet>
		<servlet-name>ServletEx</servlet-name>
		<servlet-class>com.servlet.ServletEx</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletEx</servlet-name>
		<url-pattern>/SE</url-pattern>
	</servlet-mapping>

	<!-- JSP Config -->
	<servlet>
		<servlet-name>TestConfig</servlet-name>
		<jsp-file>/testConfig.jsp</jsp-file>
		<init-param>
			<param-name>adminId</param-name>
			<param-value>admin</param-value>
		</init-param>
		<init-param>
			<param-name>adminPw</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestConfig</servlet-name>
		<url-pattern>/TC</url-pattern>
	</servlet-mapping>

	<!-- JSP Application -->

	<context-param>
		<param-name>testServerIP</param-name>
		<param-value>127.0.0.1</param-value>
	</context-param>

	<!-- Servlet Parameter -->
	<servlet>
		<servlet-name>ServletData</servlet-name>
		<servlet-class>com.servlet.ServletData</servlet-class>
		<init-param>
			<param-name>myID</param-name>
			<param-value>adminID</param-value>
		</init-param>
		<init-param>
			<param-name>myPW</param-name>
			<param-value>1234</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletData</servlet-name>
		<url-pattern>/SD</url-pattern>
	</servlet-mapping>

	<!-- Context Parameter -->
	<context-param>
		<param-name>myAddr</param-name>
		<param-value>Seoul</param-value>
	</context-param>

	<!-- Filter -->
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.hangul.myFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>